/* Style input fields and labels */
label, input {
  display: block;
  margin-bottom: 10px;
 
}

input {
  background-color: #BF40BF;
  color: white;
  border: none;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.2);
  border-radius: 5px;
}

/* Style select fields */
select {
  background-color: #BF40BF;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.2);
  border-radius: 5px;
}

/* Style the calculate button */
input[type=button] {
  background-color: #BF40BF;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
 border-radius: 5px;
}

/* Style the result */
#result {
  font-size: 45px;
  margin-top: 20px;
}
