body {
  background-color: #ffffff;
}

/* Style input fields */
input {
  background-color: #BF40BF;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

/* Style select fields */
select {
  background-color: #BF40BF;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

/* Style the calculate button */
input[type=button] {
  background-color:  #BF40BF;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Style the result */
#result {
  font-size: 45px;
  margin-top: 20px;
}
